h1 {
    font-size: 65pt;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-right: 25pt;
}

.jumbotron {
    border-bottom: solid 3pt;

}

.foodGifs {
    width: 150pt;
    height: 110pt;
    margin-left: 20pt;
    padding: 5pt;
}

#buttonArea {
    width: 900pt;
    margin: 10pt;
}

.foodbtn {
    margin: 10pt;
}

#gifArea {
    width: 900pt;
    margin: 10pt;
}
.gif {
    margin: 5pt;
}

.ratingArea {
    width: 160pt;
    background: rgb(28, 173, 209);
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5pt;
}

#formArea {
    width: 400pt;
    margin-right: 10pt;
    padding: 10pt;
}

#addlabel {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 35pt;
    text-align: center;
}

#food-input {
    margin: 10pt;
}

